# Kaggle credentials
.kaggle/
kaggle.json

# Dataset
data/raw/
data/dataset/
*.zip

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Model files
*.h5
*.keras
*.pth
*.pt

# Logs
logs/

# OS
.DS_Store
Thumbs.db
report/mobilenetv2_viva_qa.md
